.homewrap{ 
    width: 80vw; 
    background: white;
    border: 2px solid rgba(255, 255, 255, .2); 
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgba(130, 94, 92, 1);
    border-radius: 10px;
    padding: 30px 40px;
}
.display-box{ 
    width: 32vw; 
    height: 50px;
    font-weight: 700; 
    background: white;
    border: 2px solid rgba(255, 255, 255, .2); 
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.578);
    color: rgba(130, 94, 92, 1);
    border-radius: 10px;
    margin: 50px 15px 0px 15px;
    padding: 8px 20px 8px 20px; 
    float: left;
    justify-content: center;
    text-align: center;
}
.display-box p{
    color: rgba(130, 94, 92, 1);
    font-size: 20px;
}
.homewrap h1{
    font-size: 36px;
    text-align: center;
}
.homewrap .input-box{
    position: relative;
    float: left;
    width: 32vw;
    height: 50px; 
    margin: 20px 15px;
}
.homewrap .input-box label{
    font-weight: 600;
}
.homewrap .input-box input{
    margin-top: 8px;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(130, 94, 92, 1);
    border-radius: 10px;
    padding: 20px 45px 20px 20px;
    color: rgba(130, 94, 92, 1);
}
.homewrap .input-box input::placeholder{
    color: rgba(130, 94, 92, 1);
} 
.homewrap button{
    width: 100%;
    height: 40px;
    background: rgba(130, 94, 92, 1);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.4s;
    margin-top: 30px;
}
.homewrap button:hover{  
    cursor: pointer;     
    background: rgba(130, 94, 92, 1);
    color: white; 
}
.homewrap button:hover .icon{
    transform: translateX(5px);
} 
@media (max-width: 600px) {
    .homewrap{
        width: 95vw;
        background-color: #fff; 
    } 
}